body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.detalle-producto {
  display: flex;
  justify-content: center;
}
.product {
  display: flex;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.product_img {
  display: flex;
  justify-content: center;
}
.product_img img {
  max-width: 50%;
  height: auto;
}
.product_info {
  align-content: center;
}
.product_info h2 {
  margin-top: 0;
}
.product_info p {
  margin-bottom: 10px;
}
.product_info button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.product_info button:hover {
  background-color: #45a049;
}

@media screen and (max-width: 767px) {
  .product {
    flex-direction: column; /* Cambia la dirección de los elementos a columna */
  }
  .product_info {
    display: flex;
    text-align: center;
    margin-top: 20px;
    flex-direction: column;
  }

  .product_info button {
    margin-top: 10px;
  }
}
